.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 78px;
  padding-right: 78px;

  @media screen and (max-width: 750px) {
    padding: 0px;
    .hero-description {
       h1{
        font-size: 48px;
       }
      }
    .links {
      h1 {
        font-size: 36px;
        font-weight: 900;
      }
    }
    .image-background {
      display: none;
    }
  }
  @media screen and (min-width: 750px) {
    margin-top: 100px;

    .hero-description {
      .image-background-mobile {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1420px) {
    max-width: 1620px;
    padding-left: 78px;
    padding-right: 78px;
  }

  .links {
    h1 {
      font-size: 42px;
      font-weight: 900;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 190px;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: rgb(249, 249, 249);
    }
  }
  .hero-description {
    h1 {
      white-space: nowrap; /* Prevent line breaks */
      overflow: hidden; /* Hide overflow */
      text-overflow: ellipsis; /* Add ellipsis for overflow */
      max-width: 100%; /* Ensure text doesn't overflow its container */

      @media screen and (max-width: 750px) {
        white-space: normal; /* Allow text to wrap */
      }
    }
  }
}
