.container{
    a{

  
    display: flex;
    align-items: baseline;
    gap: .5rem;
    padding: 0 78px;
    padding-top: 12px;
    @media screen and (max-width: 750px) {
        padding: 0px;
    }
    h1{
        font-size: 30px;
        color: #8BA17F;
    }
}
}